.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.TotalNumber {
    font-weight: bold;
    font-size: 2em;
}
.toggleSubMenu {
    transform: translate(1em,0);
}
.cardTitle-lable {
    padding-top: 1em;
    position: unset;
    text-align: center;

}
.noMargin {
    margin: 0;
}

.upperBar{
    margin: 3em 0;
}
.setToCenter {
    margin: 0 auto;
}
.cardTitle-Icon {
    width: 20% !important;
    height: 80% !important;
    transform: scale(1.5);
}
.btn-search {
    position: relative;
}
.searchIcon {
    position: absolute;
    transform: translate(10px,10px);
    top: 0;
    left: 0;
}
.card-info{
    display: none;
    font-size:unset;
}

.legend-container {
    padding-top: 10px;
}

.card-info-mobile-item {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}
.noPadding {
    padding: 0;
}

.paddingLRCard {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingLeftCardIcon {
    padding: 0;
    padding-left: 2em;
}
.legendLabel {
    padding-left: 10px;
}
.sidebar-background{
    background-image: url('/asset/image/sidebar.jpg');
}
@media screen and (min-width: 1024px) {
    .cardTitle-Icon {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1);
    }
    .cardTitle-lable {
        padding-top: 0;
        text-align: left;
    
    }
    .cardTitle-lable-container {
        display: flex;
    align-items: center;
    }
    .setToCenter {
        margin: 0 auto;
        width: max-content;
    }

    .card-info{
        font-size: 0.6vw;
        display: block;
        font-weight: 700;
    }

    .card-info-mobile{
        display: none;
    }

    .legend-container {
        padding-top: 0px;
    }
  }